html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

svg,
form {
  border: 1px solid rgb(240, 240, 240);
  border-radius: 2px;

  margin: 5px;
}

form {
  padding: 10px;
}

form > div {
  display: flex;
  justify-content: space-between;
}

form > div:not(:first-child) {
  margin-top: 5px;
}

form > div > :first-child {
  margin-right: 5px;
}

/* output{
    white-space: pre;
} */
