html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

svg,
form {
  border-radius: 2px;

  margin: 5px;
}

form {
  padding: 10px;
}

form > div {
  display: flex;
  justify-content: space-between;
}

form > div:not(:first-child) {
  margin-top: 5px;
}

form > div > :first-child {
  margin-right: 5px;
}

/* output{
    white-space: pre;
} */

svg,
form {
  border: 1px solid rgb(240, 240, 240);
  background-color: rgb(245, 245, 245);
}

svg circle {
  fill: rgb(50, 50, 50);
}

svg polyline {
  stroke: rgb(50, 50, 50);
}

@media (prefers-color-scheme: dark), (prefers-color-scheme: no-preference) {
  html {
    background-color: rgb(28, 28, 28);
  }

  svg,
  form {
    border: 1px solid rgb(55, 55, 55);
    background-color: rgb(40, 40, 40);
  }

  svg circle {
    fill: rgb(90, 90, 90);
  }

  svg polyline {
    stroke: rgb(90, 90, 90);
  }

  body {
    color: rgb(240, 240, 240);
  }

  input {
    color: rgb(240, 240, 240);
    background-color: rgb(28, 28, 28);
  }
}
